@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Kanit:ital,wght@0,400;1,300&display=swap');

body{
  background-color: rgba(0, 0, 0, 0.84);
}

ol, ul {
  padding-left: 30px;
}
.clear-button{
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  background-color: red;
  border-radius: 6px;
  padding: 8px;
  margin-top: 5%;
  cursor: pointer;
}
.clear-button:active{
background-color: green;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 39px;
  font-weight: bold;
  line-height: 34px;

  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 124px;
  height: 124px;
  /* width: 100%;
  height: 100%; */
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
/* border: 1px solid red; */
/* width: 400px; */
/* height: 330px; */
width: 60%;
justify-content: space-around;
margin: auto;
margin-top: 7%;
}

.game-info {
width: 250px;
margin-left: 30px;
/* border: 1px solid black; */
 
}
.status{
  font-size: 28px;
  color: white;
  font-weight: 600;
/* border: 1px solid red; */
text-align: start;
padding: 20px;
width: 200px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.game-board{
  margin-left: 0;
  padding: 0;
  width: 100%;
  /* border: 3px solid red; */
}

.heading{
  color: rgb(255, 255, 255);
  background-color: red;
  text-align: center;
  height: 100%;
  margin-top: 0;
  padding: 7px;
  font-family: 'Kanit', sans-serif;
}







@media all and (max-width: 810px) and (min-width:50px) {
  body {
    background-color: lightgreen;
  }
  .game {
    display: block;
    flex-direction: row;
  /* border: 1px solid red; */
  /* width: 400px; */
  /* height: 330px; */
  width: 350px;
  justify-content: center;
  margin: auto;
  margin-top: 10%;
  padding: 10px;
  }
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 44px;
    font-weight: bold;
    line-height: 34px;
  
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 30%;
    height: 104px;
  }
  .game-board{
    margin-left: 0;
    padding: 0;
    /* border: 3px solid red; */
  }
  .status{
    font-size: 28px;
    color: rgb(2, 99, 255);
    font-weight: 600;
  /* border: 1px solid red; */
  margin-top: 8%;
  text-align: center;
  }
}



@media all and (min-width: 800px) and (max-width:1310px){
.main{
width: 100%;

}
body{
  background-color: green;
}
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 54px;
  font-weight: bold;
  line-height: 34px;

  margin-right: -1px;
  margin-top: -3px;
  padding: 0;
  text-align: center;
  width: 124px;
  height: 124px;
}
.game {
  display: flex;
  flex-direction: row;
/* border: 1px solid red; */
/* width: 400px; */
/* height: 330px; */
width: 80%;
justify-content: space-evenly;
margin: auto;
margin-top: 4%;
}

}